# .ebextensions/99datadog.config

files:
  c:\\AppSupport\\DatadogAgent\\datadog-agent-6-latest.amd64.msi:
    source: https://s3.amazonaws.com/resicap-devops-assets-public/datadog-agent-6-latest.amd64.msi
commands:
  install-agent:
    command: msiexec /qn /i datadog-agent-6-latest.amd64.msi APIKEY="<YOUR API KEY HERE>" HOSTNAME="<YOUR HOSTNAME HERE>" TAGS="elastic-beanstalk"
    cwd: c:/AppSupport/DatadogAgent
services:
  windows:
    DatadogAgent:
      enabled: true
      ensureRunning: true
    datadog-process-agent:
      enabled: true
      ensureRunning: true
    datadog-trace-agent:
      enabled: true
      ensureRunning: true
packages:
  msi:
    DatadogTrace: https://s3.amazonaws.com/resicap-devops-assets-public/DatadogDotNetTracing-0.8.0-x64.msi